<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Wikipedia pathfinder</title>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                clifford: '#da373d',
              }
            }
          }
        }
      </script>
</head>
<body class="bg-zinc-800 size-full min-h-screen">
    {% block body %}
    <!-- Jinja will serve content here -->
    {% endblock %}
</body>
</html>